.navigation {
  position: relative;
  z-index: 100;
  .burger-btn {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    background: transparent;
    z-index: 2;
    @media (min-width: 720px) {
      display: none;
    }
  }
}
