.home {
  width: 100%;
  height: 100vh;

  margin-bottom: 2rem;

  position: relative;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./hero-img.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000, 0.6);
    }
  }
  .shutter {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    &--1,
    &--2 {
      position: absolute;
      left: 0;
      height: 50%;
      width: 100%;
      background: #000;
    }
    &--1 {
      top: 0;
    }
    &--2 {
      bottom: 0;
    }
  }
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-top: 20vh;
    padding-bottom: 12vh;
    &__words {
      font-weight: 400;
      padding: 1rem;
      opacity: 0;
    }
    &__btn {
      font-size: 2rem;
      background: #000;
      padding: 1rem 2rem;
      border: none;
      outline: none;
      box-shadow: 0 4px 0 purple;
      cursor: pointer;
      transition: box-shadow 0.15s linear, transform 0.15s linear,
        background 0.15s;

      opacity: 0;
      &:hover {
        background: #060606;
      }
      &:active {
        box-shadow: none;
        transform: translateY(4px) !important;
      }
    }
  }
}

.info-content {
  font-size: 1.6rem;
}