.media-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: 768px) {
    padding-top: 7rem;
  }
  .videos {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    //padding: 5rem 10rem;
    @media (min-width: 768px) {
    }
  }
  .video {
    $btn_radius: 5rem;
    $triangleSize: 10px;
    width: 90%;
    height: 40vh;
    min-height: 20rem;
    //border-radius: 4px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    @media (min-width: 768px) {
      width: 210px;
      height: 180px;
      margin-bottom: 2rem !important;
      $btn_radius: 6rem;
      $triangleSize: 12px;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
      @media (min-width: 768px) {
        margin-right: 2rem;
      }
    }
    &__title {
      height: 10%;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.6rem;
      margin-top: 1rem;
    }
    &__thumb {
      @media (min-width: 768px) {
        width: 210px;
        height: 118px;
      }
      width: 100%;
      height: 80%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: $btn_radius;
        width: $btn_radius;
        background: rgba(50, 50, 50, 0.74);
        z-index: 2;
        border-radius: 100%;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -50%);
        width: 0;
        height: 0;
        border-top: $triangleSize solid transparent;
        border-left: $triangleSize * 2 solid #efefef;
        border-bottom: $triangleSize solid transparent;
        z-index: 3;
      }
    }
    &__frame {
      width: 100%;
      height: 100%;
    }
  }
}
