.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  background: linear-gradient(to right bottom, #47ff73, #2dff9f);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  .icn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 15px;
    &__line {
      width: 70%;
      height: 1px;
      background: rgba(255, 255, 255, 1);
      transition: transform 0.15s, opacity 0.15s;
    }
    &--open {
      .icn__line {
        &:nth-child(1) {
          transform: translateY(7px) rotate(45deg);
        }
        &:nth-child(3) {
          transform: translateY(-7px) rotate(-45deg);
        }
        &:nth-child(2) {
          transform: translateX(-15px);
          opacity: 0;
        }
      }
    }
  }
}
