.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);

  transform: translateX(100%);

  @media (min-width: 768px) {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: matrix(1, 0, 0, 1, 0, 0);
    flex-direction: row;
    background: linear-gradient(to left bottom, #000000, #080a0f);
    padding-right: 2rem;
  }

  .items-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 2rem;

    @media (min-width: 768px) {
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }
    &__item {
      position: relative;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.85);
      width: 100%;
      padding: 0 1rem;
      overflow: hidden;
      @media (min-width: 768px) {
        width: auto;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 111%;
        transform: skewX(-18deg) translateX(-109%);
        background: white;
        transition: transform .3s ease-in-out;
        z-index: -1;
      }
      &:not(:last-child) {
        margin-bottom: 1rem;
        @media (min-width: 768px) {
          margin-right: 1rem;
          margin-bottom: 0;
        }
      }
      &:hover {
        color: rgba(255, 255, 255, 1);
      }
      &.active {
        color: #000;
        @media (min-width: 768px) {
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 111%;
          transform: skewX(-18deg) translateX(-4%);
          background: white;
          transition: transform .3s ease-in-out;
          z-index: -1;
        }
      }
    }
  }
}
